@import "variables";

.card{
    position: relative;
    width: 22%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: $bcg-card;
}

@import "divOne";
@import "divTwo";
@import "divThree";
